@{
    Layout = false;
}

<html>
    <head>

    </head>
    <body>
        <form action="/Home/Check" method="POST">

            <input type="text" name="Login" value="Enter login">
            <input type="password" name="Password" value="Enter password">

            <input type="submit" value="Continue">

        </form>
    </body>
</html>

