@model MVC_Login_Form.Models.LoginModel

<html>
<body>
    @if(Model != null)
    {
        <p>Hello, @Model.Login!</p>
        @if (Model.Admin == true)
        {
            <p>You are administrator.</p>
        }
        else
        {
            <p>You are user.</p>
        }
    }
    else
    {
        <p>Invalid login or password.</p>
    }
    <a href="/Login/Login">Back to login form</a>
</body>
</html>